
@{
    ViewData["Title"] = "Create";
}
@section styles{
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}
@model CreateProductVM

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label>ProductImage</label>
        <input class="form-control" asp-for="ProductImage">
        <span class="text-danger" asp-validation-for="ProductImage"></span>
    </div>


    <div class="mb-3">
        <label>Raiting</label>
        <input class="form-control" asp-for="Raiting">
        <span class="text-danger" asp-validation-for="Raiting"></span>
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label>ImageFiles</label>
        <input class="form-control" asp-for="ImageFiles">
        <span class="text-danger" asp-validation-for="ImageFiles"></span>
    </div>
    <div class="mb-3">
        <label>categories</label>
        <select class="salam w-100" asp-for="CategoryIds" asp-items="@ViewBag.Categories" multiple="multiple"></select>

        </select>
        <span class="text-danger" asp-validation-for="CategoryIds"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section scripts{
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.salam').select2({
                maximumSelectionLength: 4
            });
        });
    </script>
}