@using RiodeMVCProject.Models;

@{
    ViewData["Title"] = "Update";
}
@model UpdateProductGETVM
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label><img src="~/@Model.ProductImage" width="100" /></label>
        <input class="form-control" asp-for="ProductImage">
        <span class="text-danger" asp-validation-for="ProductImage"></span>
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input class="form-control" asp-for="Category">
        <span class="text-danger" asp-validation-for="Category"></span>
    </div>
    <div class="mb-3">
        <label>Raiting</label>
        <input class="form-control" asp-for="Raiting">
        <span class="text-danger" asp-validation-for="Raiting"></span>
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label>
            @foreach (var item in Model.ProductImages)
            {
                

            <img src="~/@item.Name" width="100" />
            }
            </label>
        <input class="form-control" asp-for="ProductImagesFiles">
        <span class="text-danger" asp-validation-for="ProductImagesFiles"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

