@using RiodeMVCProject.Models;

@{
    ViewData["Title"] = "Update";
}
@section styles{
    <style>
        .prod-imgs {
            display: flex;
            gap: 10px;
        }

            .prod-imgs div {
                position: relative;
            }

                .prod-imgs div .x-button {
                    position: absolute;
                    top: 0;
                    right: 2.5px;
                    font-size: 20px;
                    cursor: pointer;
                    color: deeppink;
                    background-color: #fff;
                    padding: 5px;
                }
    </style>
    <link href="~/assets/select2/css/select2.min.css" rel="stylesheet" />
}
@model UpdateProductGETVM
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label><img src="~/@Model.ProductImage" width="100" /></label>
        <input class="form-control" asp-for="ProductImageFile">
        <span class="text-danger" asp-validation-for="ProductImageFile"></span>
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input class="form-control" asp-for="Category">
        <span class="text-danger" asp-validation-for="Category"></span>
    </div>
    <div class="mb-3">
        <label>Raiting</label>
        <input class="form-control" asp-for="Raiting">
        <span class="text-danger" asp-validation-for="Raiting"></span>
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label class="prod-imgs">
            @foreach (var item in Model.ProductImages)
            {

                <a asp-action="DeleteImage" asp-route-id="@item.Id" class="x-button">x</a>
                <img src="~/@item.Name" width="100" />
            }
            </label>
        <input class="form-control" asp-for="ProductImagesFiles">
        <span class="text-danger" asp-validation-for="ProductImagesFiles"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section scripts{
    <script>
        $(".x-button").click(e=>{
            e.preventDefault();
            let elem = e.target;
            console.log(elem.href);
            fetch(elem.href).then(res => {
                if(res.ok == true)
                {
                    elem.parentElement.remove()
                }
            })
            .catch(e=>{
                console.log(e)
            })
        })
    </script>
}
